# Binance Keys
BINANCE_API_KEY=tu_key
BINANCE_API_SECRET=tu_secret
IS_TESTNET=True

# Bot Config
BOT_NAME=VWAP_BTH
SYMBOL=BTHUSDT
LEVERAGE=20

# Estrategia
BAND_MULT=2.5
TP_RR_RATIO=0.4
RISK_PER_TRADE=4.0

# Telegram
TELEGRAM_BOT_TOKEN=tu_token
TELEGRAM_CHAT_ID=tu_id

# Paths (Importante para Docker)
JOURNAL_FILE=logs/journal_ETH.json



