# Binance Keys
BINANCE_API_KEY=tu_key
BINANCE_API_SECRET=tu_secret
IS_TESTNET=True

# Bot Config
BOT_NAME=VWAP_BTH
SYMBOL=BTHUSDT
LEVERAGE=20
TRADING_DAYS=ALLWEEK # WORKDAYS o ALLWEEK

# Estrategia
BAND_MULT=2.5
TP_RR_RATIO=0.4
RISK_PER_TRADE=4.0

# Telegram
TELEGRAM_BOT_TOKEN=tu_token
TELEGRAM_CHAT_ID=tu_id

# Paths (Importante para Docker)
JOURNAL_FILE=logs/journal_ETH.json

# Filtro de noticias económicas
FCS_API_KEY=TU_KEY_AQUI
NEWS_FILTER_ENABLED=true
NEWS_BLOCK_MINUTES_BEFORE=120
NEWS_CLOSE_IF_LOSS_PCT=-1.0

