# Entornos y Keys
.env*
!.env.example

# Docker y Logs
*.log
logs/
__pycache__/
venv/

# Datos compartidos (Dashboard)
dashboard/data/*.json
backtest/data/*.csv
backtest/*.json
backtest/results/*.json

# SO
.DS_Store